---
import Layout from "../layouts/Layout.astro";
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";

const entries = await contentfulClient.getEntries<BlogPost>({
	content_type: "post",
});

const posts = entries.items.map((item) => {
	const { title, date, content } = item.fields;
	return {
		title,
		content,
		date: new Date(date).toLocaleDateString(),
	};
});
---

<Layout title="WhatFor">
	<main class="space-y-3 mx-auto max-w-lg">
		<h1 class="text-4xl">CW Blog</h1>
		{
			posts.map((post) => (
				<ul class="">
					<h2 class="text-2xl underline">{post.title}</h2>
					<time class="bg-blue-200 text-blue-800 rounded-full px-2 pt-0.5 pb-1 text-sm font-bold">
						{post.date}
					</time>
					<p>{post.content}</p>
				</ul>
			))
		}
	</main>
</Layout>
